<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androbean.android.unityplugin.alps.app" >

    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/alps_admob_app_id"/>
    </application>

</manifest>
